// 侧边栏字体
$menuText:#2f3942;
// 侧边栏选中时字体
$menuActiveText:rgb(69, 167, 247);
$subMenuActiveText:rgb(46, 127, 209); //https://github.com/ElemeFE/element/issues/12951
$menuActiveTextFontWeight:bold;

// 侧边栏背景
$menuBg:#ffffff;
// 鼠标覆盖时样式
$menuHover:#fafafa;

// 菜单抽屉背景
$subMenuBg:#f6f6f6;
$subMenuHover:#eaf5f8;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
